@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&subset=cyrillic');

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
  font-family: 'Manrope';
  src: url('fonts/manrope.ttf');
}

section.categories{
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
}

body{
  background-color: #f6f6f6;
}

h2{
  font-family: 'Manrope';
  color: #484848;
}

section.categories div.items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1%;
}

a.item{
  margin: 30px;
  font-family: 'Manrope';
  font-size: 14px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  border: 2px solid #f8f8f8;
  align-items: center;
  text-decoration: none;
  color: #484848;
  width: fit-content;
  justify-content: space-between;
}

a.item:hover{
  border: 2px solid #c0a97a;
  color: #636363;
}

a.item div.text{
  margin-top: 25px;
}


@font-face{
    font-family: "Manrope";
    src: url('fonts/manrope.ttf');
}